doctype html
html(lang="en")
  include parts/head
  body#page
    #wrapper

      header#header
        h1 NodeJS example
        include parts/nav

      main
        block main-content

      include parts/footer

      include parts/scripts